body{
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    background-color: #fdf4ff;
}

/***COLOR DE FONDO***/
.color-fondo{
    background-color: #81EBA9;
}

/*MENÚ SUPERIOR*/
.supMenu{
    display: flex;
}

.supMenu h4{
    font-size: 0.8em;
}

.supMenu i{
    font-size: 1em;
    padding-right: 5px;
}

.telefono,
.mail,
.red-social-instagram,
.red-social-facebook{
    display: flex;
    padding-left: 20px;
    padding-top: 5px;
}

.telefono i,
.mail i,
.red-social-instagram i,
.red-social-facebook i{
    padding-right: 10px;
}

.telefono h4,
.mail a h4,
.red-social-instagram a h4,
.red-social-facebook a h4{
    padding-top: 1px;
}

.numero,
.correo,
.instagram,
.facebook,
.red-social-instagram i,
.red-social-facebook i{
    text-decoration: none;
    color: black;
}

.red-social-instagram,
.red-social-facebook {
    padding-top: 5px;
    margin: 0;
}

.mail a h4:hover,
.red-social-instagram a:hover,
.red-social-facebook a h4:hover{
    color: #ff0000;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

/*MENU DE NAVEGACION*/
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
    color: #ff0000;
}


/***TEXTO HEADER***/
.texto-cuidados{
    font-size: 0.8;
}

/*SERVICIOS*/

.div-servicios{
    padding-top: 100px;
}

.nuestros-servicios{
    margin: 50px 0;
    padding-bottom: 50px;
}

.title-nuestros-servicios{
    font-size: 28px;
    padding-bottom: 70px;
}

.parrafo-de-servicios{
    width: 250px;
    text-align: center;
}

/*UBICACION Y CONTACTO*/
.contacto1 a{
    text-decoration: none;
    color: black;
}

.contacto1 a:hover,
.contacto1 a p:hover{
    color: crimson;
    
}

.contacto{
    padding-bottom: 15px;
}

.letra-ubicacion{
    font-size: 14px;
    color: #303030;
}

/***FOOTER***/

.menuFotter{
    padding: 20px 0;
}

.imagen-footer{
    padding-left: 50px;
}

.parrafo-fotter{
    font-size: 11px;
    padding-right: 50px;
    padding-left: 50px;
}

.parrafo{
    font-size: 0.8em;
}

.menu-footer-a h4{
    font-size: 0.8em;
    padding-bottom: 6px;
}

.menu-footer-a a{
    padding: 0 8px;
    text-decoration: none;
}

.menu-footer-a a:first-child{
    padding: 0;
}

.menu-de-navegacion-footer a:hover{
    color: #ff0000;
}

/*SECCION QUIENES SOMOS*/

.quienes-somos,
.internacion-domiciliaria,
.beneficios,
.equipo{
    text-align: justify;
}

.equipo h3{
    font-size: 23px;
    padding-top: 15px;
}

/*SECCION CRÉDITOS*/

.columna-de-cards{
    display: flex;
    padding: 20px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
}

.card-body a{
    font-size: 13px;
}


@media (max-width: 768px) {
    .supMenu{
        display: none;
        justify-content: space-around;
        align-items: center;
        padding-top: 4px;
    }

    /*****Header******/
    .titulo-cuidados{
        width: 60%;
         margin: 0 auto;
         text-align: center;
    }

    .texto-cuidados{
        text-align: center;
    }

    .servicios-responsive{
        flex-direction: column;
    }

    .menuFotter{
        flex-direction: column;
    }

    .imagen-footer{
        flex-direction: column;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .parrafo-fotter{
        font-size: 11px;
        padding: 0;
        margin: 0;
    }

    .menu-footer-a{
        display: flex;
        justify-content: center;
    }

    .menu-footer-a h4{
        padding-top: 30px;
        text-align: center;
    }

    .menu-footer-a a{
        padding: 0px;
        font-size: 12px;
    }

    .menu-footer-a nav{
        display: flex;
        flex-direction: column;
    }

    .menu-de-navegacion-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .break-servicios{
        display: inline;
    }

    .parrafo{
        font-size: 10px;
        padding-left: 100px;
    }

    /*CONTACTO*/


    /*QUIENES SOMOS*/
    .quienes-somos,
    .internacion-domiciliaria,
    .beneficios,
    .equipo{
        text-align: center;
    }

    .texto-justificado-quienes-somos{
        text-align: justify;
    }

    /*CREDITOS*/

    .columna-de-cards{
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 1110px){
    .titulo-cuidados{
        font-size: 1em;
    }
    .texto-cuidados{
        font-size: 0.8em;
    }
}

@media (min-width: 1400px){
    footer{
        padding-top: 40px;
    }
    iframe{
        height: 600px;
    }
    .seccion-contacto{
        padding-top: 0px;
    }
}


