body{
    /* font-family: 'Noto Sans JP', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}
h4{
    font-size: 11px;
}

.color-verde{
    background-color: #81EBA9;
}
.supMenu{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 4px;
    padding-left: 30px;
}
.supMenu i{
    font-size: 18px;
    padding-right: 5px;
}
.supMenu i:last-child{
    padding-left: 10px;
}

.supMenu i{
    font-size: 18px;
    padding-right: 5px;   
}

.supMenu i:first-child{
    padding-left: 15px;
}

.numero,
.correo{
    padding-top: 3px;
    font-size: 12px;
    text-decoration: none;
    color: black;
}

.redes-sociales a i{
    color: #000;
    padding: 0;
    margin: 0;
    font-size: 17px;
    padding-top: 6px;
}

.redes-sociales a p{
    font-size: 12px;
    padding-top: 5px;
    text-decoration: none;
    color: black;
}

.redes-sociales a p:hover{
    color: crimson;
}

a:link, a:visited, a:active {
    text-decoration:none;
}

.texto-cuidados{
    font-size: 15px;
}

.letra-ubicacion{
    font-size: 14px;
    color: #303030;
}

/*SERVICIOS*/

.div-servicios{
    padding-top: 100px;
}

.nuestros-servicios{
    margin: 50px 0;
    padding-bottom: 50px;
}

.title-nuestros-servicios{
    font-size: 28px;
    padding-bottom: 70px;
}

.parrafo-de-servicios{
    width: 250px;
    text-align: center;
}

.mapa{
    background-image: url(../img/mapa-hurlingham.png);
    background-size: contain;
}

.contacto1 a{
    text-decoration: none;
    color: black;
}

.contacto1 a:hover{
    color: crimson;
}

.menuFotter{
    padding: 20px 0;
}

.imagen-footer{
    padding-left: 50px;
}

.parrafo-fotter{
    font-size: 11px;
    padding-right: 50px;
    padding-left: 50px;
}

.parrafo{
    font-size: 13px;
}

.menu-footer-a a{
    padding: 0 10px;
    text-decoration: none;
}

.menu-footer-a a:first-child{
    padding: 0;
}

/*CONTACTO*/
.mapa-display{
    display: none;
}

/*QUIENES SOMOS*/

.quienes-somos,
.internacion-domiciliaria,
.beneficios,
.equipo{
    text-align: justify;
}

.equipo h3{
    font-size: 23px;
    padding-top: 15px;
}

/*CREDITOS*/

.columna-de-cards{
    display: flex;
    padding: 20px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
}

.card-body a{
    font-size: 13px;
}

@media (max-width: 768px) {
    .supMenu{
        display: none;
        justify-content: space-around;
        align-items: center;
        padding-top: 4px;
    }
    /* .supMenu i{
        font-size: 18px;
    }
    
    .supMenu i{
        font-size: 18px;
    }

    .supMenu h4{
        font-size: 12px;
    }

    .telefono{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .mail{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .redes-sociales{
        display: flex;
        flex-direction: column;
        padding-right: 20px;
    }

    .instagram,
    .facebook{
        display: none;
    } */

    /*Header*/

    .carousel-item img{
        height: 200px;
    }

    .imagen-inicio{
        height: 100%;
    }

    .titulo-cuidados{
        width: 60%;
         margin: 0 auto;
         text-align: center;
    }

    .texto-cuidados{
        text-align: center;
    }

    .servicios-responsive{
        flex-direction: column;
    }

    .menuFotter{
        flex-direction: column;
    }

    .imagen-footer{
        flex-direction: column;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .parrafo-fotter{
        font-size: 11px;
        padding: 0;
        margin: 0;
    }

    .menu-footer-a{
        display: flex;
        justify-content: center;
    }

    .menu-footer-a h4{
        padding-top: 30px;
        text-align: center;
    }

    .menu-footer-a a{
        padding: 0px;
        font-size: 12px;
    }

    .menu-footer-a nav{
        display: flex;
        flex-direction: column;
    }

    .menu-de-navegacion-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .break-servicios{
        display: inline;
    }

    .parrafo{
        font-size: 10px;
        padding-left: 100px;
    }

    /*CONTACTO*/
    .mapa-display{
        display: inline;
    }

    /*QUIENES SOMOS*/
    .quienes-somos,
    .internacion-domiciliaria,
    .beneficios,
    .equipo{
        text-align: center;
    }

    .texto-justificado-quienes-somos{
        text-align: justify;
    }

    /*CREDITOS*/

    .columna-de-cards{
        display: flex;
        flex-direction: column;
    }

}

@media (max-width: 1400px){
    .imagen-inicio2{
        display: none;
    }
    .mapa-display2{
        display: none;
    }
}

@media (min-width: 1400px){
    .imagen-inicio{
        display: none;
    }
    .mapa-display{
        display: none;
    }
    footer{
        padding-top: 80px;
    }
    .footer-contacto{
        padding-top: 222px;
    }
}


